<h2>Maven</h2>

<h3>Maltcms Artifactory</h3>

<h3>Build profiles</h3>
Build profiles in maven are activated on the commandline with `-P profile1,profile2`. Maltcms currently supports a small number of profiles. In order to build src jars for each artifact, the `src` profile needs to be activated. If you want to build the javadoc jar files for each artifact, activate the `javadoc` profile. Further profiles exist to only create certain project artifacts, like the OSGI and NetBeans module distributions, if they are really needed. These profiles can be activated with `osgi` and `nbm`, respectively.

