body {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: Arial,sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;
    width: 990px;
}
a {
    color: #0000BB;
    font-weight: normal;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
div.nav_dotted ul.unbulletedlist li a {
    text-decoration: underline;
}
div.nav_dotted ul.unbulletedlist li a:hover {
    background: inherit;
    color: #1B1E26;
    text-decoration: none;
}
div.nav_dotted ul.unbulletedlist {
    border-top: 1px solid;
    color: #000000;
    padding-bottom: 0.5em;
}
div.nav_dotted ul.unbulletedlist li:before {
    content: "\00BB \0020";
}
div.nav_stroked {
    padding: 0.5em;
}
div.nav_dotted ul.unbulletedlist li {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    color: #000000;
    padding: 0.2em;
}
div.nav_dotted ul.unbulletedlist li:hover {
    background: none repeat scroll 0 0 #BBFF99;
}
div.block {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.copyright {
    font-size: 0.7em;
    padding: 0.5em;
    text-align: right;
    vertical-align: text-bottom;
}
.hrule {
    border-top: 1px solid;
    color: #333333;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
h2 {
    color: #666666;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
}
h1 {
    color: #AA3333;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.rightHeader {
    border-bottom: 1px solid;
}
p {
    color: #333333;
    margin-left: 0;
    margin-top: 0.1em;
    margin-bottom: 1em;
    overflow: auto;
    z-index: 15;
}
p:last-child {
    color: #333333;
    margin-left: 0;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    overflow: auto;
    z-index: 15;
}

div.nav_dotted ul.unbulletedlist li.active {
    background: none repeat scroll 0 0 #CCEEAA;
    text-decoration: none;
}
.unbulletedlist {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.date {
    color: #FF0000;
    font-size: 0.8em;
    text-align: right;
}
.small {
    color: #EEEEEE;
    font-size: 0.6em;
}
.break:after {
    content: "\A ";
}
.indent {
    text-indent: 1em;
}
#header {
    border-left: 1px solid #AACC88;
    border-right: 1px solid #AACC88;
}
#categories {
    background: none repeat scroll 0 0 #CCEE99;
    border-bottom: 1px solid #AACC88;
    border-top: 1px solid #AACC88;
    clear: both;
    padding: 0.25em;
}
#categories ul li {
    display: inline;
    padding: 1em;
}
#footer {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #AACC88;
    border-top: 1px solid #AACC88;
    clear: both;
    color: #999999;
    font-size: 0.8em;
    padding: 0.2em;
    text-align: center;
}
#sitemap {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #999999;
    float: left;
    font-size: 0.8em;
    width: 100%;
}
#sitemap div {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0.5em;
    width: 8em;
}
.sitemapList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sitemapHeading {
    font-weight: bold;
}
#colfooter {
    color: #999999;
    float: right;
    font-size: 0.7em;
    text-align: right;
}
#content {
    background-color: #FFFFFF;
    float: left;
    width: 75%;
}
.download {
    width: 11em;
    float: right;
    border: 1px solid #AACC88;
    background-color: #CCEE99;
    border-radius: 10px;
    color: #668833;
    padding: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    text-align: left;
}
.download a {
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-decoration: none;    
}

.download:hover {
    color: #FFFFFF;
    border: 1px solid #668833;
    border-radius: 10px;
    background-color: #AACC88;
}

.download a img {
    border: 0 none;
    vertical-align: middle;
    float: right;
}
.download .dlTitle {
    display: block;
    font-size: 0.9em;
    color: #668833;
}

.download .dlSubtitle {
    display: block;
    font-size: 0.6em;
    color: #99BB66;
}
.download:hover .dlTitle {
    display: block;
    font-size: 0.9em;
    color: #FFFFFF;
}
.download:hover .dlSubtitle {
    display: block;
    font-size: 0.6em;
    color: #CCEE99;
}
#affiliation {
    clear: left;
    float: right;
    padding-right: 1em;
}
#affiliation a {
    background-color: inherit;
    color: #0000BB;
    text-decoration: underline;
}
#affiliation a:hover {
    background-color: inherit;
    color: #1B1E26;
    text-decoration: none;
}
#affiliation li {
    list-style-type: none;
}
#pagename {
    background: none repeat scroll 0 0 #EEFFDD;
    border-bottom: 1px dashed #AACC88;
    border-left: 1px solid #EEFFDD;
    border-right: 1px solid #AACC88;
    padding: 0.5em;
}
#colcontent {
    background: url("/img/background.png") repeat-x scroll 0 0 transparent;
    min-height: 25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
}
#nav {
    color: #333333;
    float: left;
    width: 25%;
}
#navcontent {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #AACC88;
    border-left: 1px solid #AACC88;
    border-radius: 0 0 0 10px;
    border-right: 1px solid #AACC88;
}
#logo {
    background-color: transparent;
    border: 1px solid;
    color: #333333;
    float: left;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em;
    width: 100%;
}
#categories ul li a {
    padding: 0.5em;
    color: #668833;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #CCEE99;
    background-color: #CCEE99;
}
#navRight {
    background-color: transparent;
    float: left;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em;
    width: 25%;
}
#categories ul li a:hover {
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #668833;
    background-color: #AACC88;
}

