Release Notes

Changes for version 1.3:
---------------------------

New features

* BiPACE and BiPACE2D pipelines for alignment of peak lists from 1D and 2D chromatography-mass spectrometry
* Maltcms artifacts now expose osgi dependency information and can be deployed 
in osgi-compatible runtime containers. The maltcms-osgi-distribution module lists all required 
dependencies.
* The maltcms-nbm module provides NetBeans Rich Client Platform compatible modules.
* Preliminary support for Agilent Chemstation _.D_ directories with peak reports in '.xls' format.

This version is backwards compatible to 1.2.x releases of maltcms concerning the workflow format.

