.unbulletedlist li:before {
    content: "\00BB \0020";
}
/*p {
    color: #333333;
    margin-left: 0;
    margin-top: 0.1em;
    margin-bottom: 1em;
    overflow: auto;
    z-index: 15;
}
p:last-child {
    color: #333333;
    margin-left: 0;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    overflow: auto;
    z-index: 15;
}*/

.active {
    background: none repeat scroll 0 0 #DDFFAA;
    text-decoration: none;
}

.unbulletedlist {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0.5em;
    text-indent:  0em;
}
.date {
    color: #FF0000;
    font-size: 0.8em;
    text-align: right;
}
.small {
    color: #EEEEEE;
    font-size: 0.6em;
}
.break:after {
    content: "\A ";
}
.indent {
    text-indent: 1em;
}
#categories {
    background: none repeat scroll 0 0 #CCEE99;
    border-bottom: 1px solid #AACC88;
    border-top: 1px solid #AACC88;
    clear: both;
    padding: 0.5em;
}
#categories ul li.active a {
    background-color: #AACC88;
}
#categories ul li a {
    border: 1px solid #CCEE99;
    text-decoration: none;
}
#categories ul li a:hover {
    background-color: #AACC88;
    color: #FFFFFF;
    border: 1px solid #668833;
    text-decoration: none;
}
a {
    color: #335500;
    text-decoration: underline;
}
a:hover {
    /*color: #335500;*/
    text-decoration: none;
}
#nav ul li a {
    text-decoration: none;
}
#nav ul li a:hover {
    text-decoration: underline;
}
a.btn {
    text-decoration: none;
}
a.btn:hover {
    text-decoration: none;
}
#colcontent div ~ a {
    color: #428BCA;
}
#footer {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #AACC88;
    border-top: 1px solid #AACC88;
    clear: both;
    color: #999999;
    font-size: 0.8em;
    padding: 0.2em;
    text-align: center;
}
#sitemap {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #999999;
    float: left;
    font-size: .8em;
    width: 100%;
}
#sitemap div {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0.5em;
    width: 8em;
}
.sitemapList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sitemap ul li a {
    text-decoration: none;
}
#sitemap ul li a:hover {
    text-decoration: underline;
}
.sitemapHeading {
    font-weight: bold;
}
#colfooter {
    color: #999999;
    float: right;
    font-size: 0.7em;
    text-align: right;
}
#content {
    background-color: #FFFFFF;
    float: left;
    width: 85%;
}
.download {
    width: 12em;
    float: right;
    border: 1px solid #AACC88;
    background-color: #CCEE99;
    border-radius: 10px;
    color: #668833;
    padding: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    text-align: left;
}
.download a {
    font-weight: bold;
    text-decoration: none;    
}

.download:hover {
    color: #FFFFFF;
    border: 1px solid #668833;
    border-radius: 10px;
    background-color: #AACC88;
}

.download a img {
    border: 0 none;
    vertical-align: middle;
    float: right;
}
.download .dlTitle {
    display: block;
    font-size: 0.9em;
    color: #668833;
}

.download .dlSubtitle {
    display: block;
    font-size: 0.6em;
    color: #99BB66;
}
.download:hover .dlTitle {
    display: block;
    font-size: 0.9em;
    color: #FFFFFF;
}
.download:hover .dlSubtitle {
    display: block;
    font-size: 0.6em;
    color: #CCEE99;
}
#affiliation {
    clear: left;
    float: right;
    padding-right: 1em;
    padding-top: 0.5em;
}
#affiliation a {
    background-color: inherit;
    /*color: #0000BB;*/
    /*text-decoration: underline;*/
}
#affiliation a:hover {
    background-color: inherit;
    /*color: #1B1E26;*/
    /*text-decoration: none;*/
}
#affiliation li {
    list-style-type: none;
}
#pagename {
    background: none repeat scroll 0 0 #EEFFDD;
    border-bottom: 1px dashed #AACC88;
    border-left: 1px solid #EEFFDD;
    border-right: 1px solid #AACC88;
    padding: 0.5em;
}
#colcontent {
    /*background: url("./img/background.png") repeat-x scroll 0 0 transparent;*/
    min-height: 25em;
    /*    padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.5em;*/
}
#nav {
    color: #333333;
    float: left;
    width: 15%;
    margin-top: 2em;
    padding-right: 1em;
}
#logo {
    background-color: transparent;
    border: 1px solid;
    color: #333333;
    float: left;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em;
    width: 100%;
}
